*
    margin 0 
    padding 0
    box-sizing: border-box
body
    background: url(../assets/images/bg.jpg)
    background-size cover
    background-attachment fixed
    font-family Montserrat, sans-serif
.container
    background rgba(55,59,68,.45)
    background linear-gradient(to right, rgba(55,59,68,.45), rgba(66,134,244,.50))
    background -webkit-linear-gradient(to right, rgba(55,59,68,.45), rgba(66,134,244,.50))
    width 100%
    height: 100vh
    display: flex
    flex-direction: column
    .search
        width: 100%
        height 30vh
        display flex
        justify-content: center
        align-items: center
        padding 0 20%
        form
            display flex
            justify-content: space-between
            font-size: 32px
            width: 100%
            .input-group
                position relative
                &.w8
                    width: 85.5%
                    &:before
                        content: '\f002'
                        font-family: 'Font Awesome 5 Free'
                        font-weight: 900
                        color white
                        font-size: 0.8em
                        position absolute
                        top 15px
                        left 1.5%
                &.w1
                    width: 12.5%
                .input
                    background: transparent
                    outline none
                    border 2px solid rgba(255,255,255,.7)
                    border-radius: 25px
                    padding 1.25%
                    padding-left: 36px
                    width 100%
                    color white
                    font-size 1em
                    text-transform: capitalize
                    position relative
                    transition: .5s linear
                    &::placeholder
                        color white
                    &:focus
                        border 2px solid rgba(255,255,255,1)
                .btn
                    background: transparent
                    width: 100%
                    height 100%
                    outline none
                    border 0
                    cursor pointer
                    color white
                    font-size 0.8em 
                    text-align: left
    .weather-cards
        height 70vh
        width 100%
        padding 0 30% 0 20%
        overflow-y: scroll

        .card
            background-color:  rgba(55,59,68,.45)
            background-size: cover
            width: 65%
            height 48%
            margin 1% auto

            .card-data
                background: rgba(55,59,68,.45)
                width 100%
                height 100%
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                p
                    color white
                    font-size: 28px
                    font-weight: 800
                    img
                        width 36px



